      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      /* Set height of body and the document to 100% */
      body,
      html {
        ;
        font-family: Arial;
        scroll-behavior: smooth
      }

      .navbar {
        background-color: none;
      }

      .center {
        display: inline-block;
        top: 0;
        font: Ubuntu;
        text-align: center;
        height: 250px;
        width: 100%;
      }

      .sticky {
        position: fixed;
        color: "red";
        top: 0;
        width: 100%;
      }

      a:link {
        text-decoration: none;
        color: black;
      }

      a:visited {
        text-decoration: none;
        color: black;
      }

      a:hover {
        text-decoration: underline;
      }

      a:active {
        text-decoration: underline;
      }

      .sticky+.content {
        padding-top: 60px;
      }

      .container {
        text-align: center;
      }

      .container>div {
        width: 10%;
        height: 30px;
        display: inline-block;
        vertical-align: top;
        color: "yellow";

        /* if you need IE7 support */
        *display: inline;
        zoom: 1
      }

      /* Style tab links */
      .tablink {
        text-align: center;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 10%;
      }

      .tablink:hover {
        text-align: center;
        font-size: 20px;
      }

     .tabtext {
        color: "green";
     }
      /* Style the tab content (and add height:100% for full page content) */
      .tabcontent {
        text-align: center;
        display: none;
        height: 100%;
     }
