      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      a:link {
        text-decoration: none;
        color: black;
      }

      a:visited {
        text-decoration: none;
        color: black;
      }

      a:hover {
        text-decoration: underline;
      }

      a:active {
        text-decoration: underline;
      }

      /* Set height of body and the document to 100% */
      body,
      html {
        font-family: Arial;
        scroll-behavior: smooth;
      }


      .center {
        display: inline-block;
        top: 0;
        font: Ubuntu;
        text-align: center;
        height: 250px;
        width: 100%;
      }


      .container {
        text-align: center;
        z-index: 1;
      }

      .container2 {
        text-align: center;
        z-index: -1;
      }

      .container>div {
        width: 10%;
        height: 30px;
        display: inline-block;
        /* if you need IE7 support */
        *display: inline;
        zoom: 1
      }

      .container2>div {
          width: 10%;
          height: 30px;
          display: inline-block;
          text-align: center;
          /* if you need IE7 support */
          *display: inline;
          zoom: 1
        }

      .outer{
        height: 130px;
      }

      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }

    .sticky2 {
      position: fixed;
      top: 130px;
      width: 100%;
    }



      /* Style tab links */
      .tablink {
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        width: 10%;
      }

      .tablink:hover {
transform: scale(1.25);
      }

     .tabtext {
         height: 120px;
         text-align: center;
         vertical-align: top;
         border: none;
         background: none;
         outline: none;
         padding: 14px 16px;
         font-size: 17px;
         width: 10%;
         cursor: default;
       }



      /* Style the tab content (and add height:100% for full page content) */
      .tabcontent {
        padding: 30px;
        text-align: left;
        display: none;
        height: 100%;
     }
